<div class="parallax-container">
    <div class="parallax" >
        <img src="{{cidade.image}}" class="responsive-img">
    </div>
</div>

<h4 style="text-align: center;">Você está em <u><b>{{cidade.name}}</b></u></h4>
<div class="section white">
    <div class="row container">
        <ul class="tabs tabs-fixed-width" >
            <li class="tab"><a (click)="atualizar_tabela('Geral')">Geral</a></li>
            <li class="tab" *ngFor="let categoria of categorias">
                <a (click)="atualizar_tabela(categoria.id)">{{categoria.name}}</a>
            </li>
          </ul>
        <table class=" highlight">
            <thead>
              <tr>
                  <th>Nome</th>
                  <th>Local</th>
              </tr>
            </thead>
            <tbody >
                <tr *ngFor="let estabelecimento of busca_estabelecimento">
                    <td>
                        <img src="{{estabelecimento.logo}}" class="responsive-img circle" style="width: 80px; height: 80px;">
                        <a href='/anuncios/cidades/{{idCidade}}/{{estabelecimento.id}}'><h4 style="padding-left: 100px; color: #c0262e;">{{estabelecimento.name}}</h4></a>
                    </td>
                    <td>{{estabelecimento.neighborhood}}</td>
                </tr>
            </tbody>
          </table>
    </div>
</div>
