<div class="carousel carousel-slider">
    <img class="carousel-item" src="{{estabelecimento.banner}}">
</div>
<!-- style="background-image: url(assets/principais/marcadagua.png); background-repeat: repeat; background-size: 300px;" -->
<div class="section white" >
    <div class="row container center">
        <label>Essa mensagem não aparecerá no anúncio original.</label>
        <h3 style="color:#c0262e;">Tela de Visualização Prévia!</h3>
    </div>
    <div class="row container">
        <img src="{{estabelecimento.logo}}" class="circle responsive-img z-depth-3" style="height: 250px; width: 270px;"> 
        <h3 style="color:#c0262e;">{{estabelecimento.name}}</h3>
        <div class="chip" *ngFor="let tag of tags" style="color:#c0262e; margin-left:10px;">
            {{tag.name}}
        </div>
        <div>
            <i class=" material-icons" style="color:#c0262e; font-size: 5vmin;">phone</i>
            <h6 style="color:#c0262e; font-size: 5vmin;">{{estabelecimento.cell_phone}} | {{estabelecimento.telephone}}</h6>
        </div>
        <br>
        <table style="width:50%;">
            <thead>
                <tr>
                    <th>
                        <i class="small material-icons" style="color:#c0262e;">motorcycle</i>
                        Delivery?
                        <div *ngIf="estabelecimento.delivery; else NoDeliver" style="color:#c0262e;">
                            Sim
                        </div>
                        <ng-template #NoDeliver >
                            <div style="color:#c0262e;">
                                Não
                            </div>
                        </ng-template>
                    </th>
                    <th></th>
                    <th>
                        <i class="small material-icons" style="color:#c0262e;">local_mall</i>
                        Retirada no Local? 
                        <div *ngIf="estabelecimento.withdraw; else NoWithDraw" style="color:#c0262e;">
                            Sim
                        </div>
                        <ng-template style="color:#c0262e;" #NoWithDraw >
                            <div style="color:#c0262e;">
                                Não
                            </div>
                        </ng-template>
                    </th>
                    <th></th>
                    <th>
                        <i class="small material-icons" style="color:#c0262e;">access_time</i>
                        Tempo Médio
                        <div style="color:#c0262e;">{{estabelecimento.time}} min</div>
                    </th>
                    <th></th>
                    <th>
                        <i class="small material-icons" style="color:#c0262e;">location_on</i>
                        Bairro
                        <div style="color:#c0262e;">{{estabelecimento.neighborhood}}</div>
                    </th>
                </tr>
            </thead>
        </table>   
    </div>
    <div class="row container">
        <h5 style="color: #c0262e;">Sobre {{estabelecimento.name}}</h5>
        <p style="text-align: justify;">{{estabelecimento.description}}</p>
    </div>
    <div class="row container">
        <div class="col s12 m4 l6" *ngFor="let imagem of imagens">
            <div class="container-imagens" >
                <img src="{{imagem.img}}" class="img-responsive card" style=" height: 250px;">
            </div>
        </div>
    </div>
    <div class="row container center">
        <label>Essa mensagem não aparecerá no anúncio original.</label>
        <h3 style="color:#c0262e;">Tela de Visualização Prévia!</h3>
    </div>
    
</div>
