<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="navbar-fixed">
  <nav class="nav-extended" style="background-color: #c0262e;">
    <div class="nav-wrapper">
      <!-- <a href="inicio"> -->
        <a href="inicio">
          <img class="brand-logo center" src = "assets/principais/logo.png"  >
        </a>
        <a target="_blank" href="https://ufsj.edu.br/"><img class="brand-logo left" src = "assets/principais/logo_ufsj.png" style="width: 80px; height: 55px;" ></a>
        <a target="_blank" href="https://dcomp.ufsj.edu.br/"><img class="brand-logo right" src = "assets/principais/dcomp.png" style="width: 80px; height: 55px;" ></a>

      <!-- </a> -->
    </div>
  </nav>
</div>

<!-- serve pra colocar o conteudo dos componentes entre o cabeçalho e o rodape -->
<router-outlet #outlet="outlet"></router-outlet>

<footer class="page-footer" style="background-color: #c0262e;"> 
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Informações Úteis</h5>
          <p class="grey-text text-lighten-4" style="text-align: justify;">
            O Covid-19 é um vírus extremamente contagioso que atingiu nosso país e
            muitos outros ao redor do mundo. Não é para tanto que os esforços para
            combatê-lo têm vindo de todas as partes do mundo. 
          </p>
          <p class="grey-text text-lighten-4" style="text-align: justify;">
            O melhor jeito de nós, cidadãos, contribuirmos é seguir atentamente as
            recomendações do <a target="_blank" href="https://saude.gov.br/">
              <u>Ministério da Saúde</u></a> e da <a target="_blank" href="https://www.who.int/">
              <u>OMS (Organização Mundial de Saúde)</u></a> e em hipótese alguma,
            compartilhar o pânico. Na hora de se atualizar sobre a doença, dê 
            preferência a portais de notícias, blogs e vídeos que possuem fontes
            confiáveis. Juntos somos mais fortes.
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links Úteis</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" target="_blank" href="https://coronavirus.saude.gov.br/"><p><u>O que é o Covid-19</u></p></a></li>
            <li><a class="grey-text text-lighten-3" target="_blank" href="https://covid.saude.gov.br/"><p><u>Painel Covid-19</u></p></a></li>
          </ul>
          <h5 class="white-text">Telefones Úteis</h5>
          <ul>
            <li class="grey-text text-lighten-3">Disque Saúde - 136</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
        Marketplace Solidário é uma iniciativa sem fins lucrativos. O principal objetivo é fomentar a Economia Local frente a pandemia do Covid-19.
      </div>
    </div>
  </footer>

