<!-- gambiarra master -->
{{match(this.contador)}}

<div class="parallax-container">
    <a class='dropdown-trigger btn' href='inicio' data-target='dropdown1' style="width: 200px;background-color:#c0262e; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">Escolha sua cidade</a>
    <!-- estrutura do dropdown -->
    <ul id='dropdown1' class='dropdown-content'>
        <li *ngFor="let cidade of this.cidades">
            <!-- rota pra uma cidade especifica -->
            <a [routerLink]="['/anuncios/cidades', cidade.id]" style="text-align: center; color: #c0262e;">{{cidade.name}} ({{cidade.state_initials}})</a>
        </li>
    </ul>
    <!-- efeito parallax na foto -->
    <div class="parallax" style="opacity:0.5">
        <img src="assets/principais/capa.jpeg" class="responsive-img" style="height: 500px;">
    </div>
</div>

<!-- só temos uma seção branca com varios conteudos -->
<div class="section white">
    <div class="row container ">
        <!-- divisão do texto em duas colunas -->
        <div class="column">
            <h4 style="color: #c0262e;">O que é o Boca a Boca Virtual?</h4>
            <p style="text-align: justify;">
                A pandemia do Covid-19 tem se alastrado pelo mundo causando
                muito mais que prejuízos financeiros e logísticos, mas 
                principalmente inúmeras mortes. Por ser extremamente contagioso, 
                a recomendação das principais e mais respeitadas autoridades 
                de saúde do mundo é praticar o isolamento social, de forma a 
                minimizar a transmissão do vírus. 
            </p>
            <p style="text-align: justify;">
                Com o isolamento social sendo praticado, torna-se necessário
                o fechamento dos comércios e serviços não-essenciais. 
                Entretanto, a demanda por serviços e produtos continua. 
                Além disso, prestadores de serviço autônomos e estabelecimentos 
                de uma forma geral também precisam continuar trabalhando para que 
                possam conseguir seu sustento e  também garantir o sustento de 
                seus empregados.
            </p>
            <p style="text-align: justify;">
                O Departamento de Ciência da Computação (DCOMP) da Universidade 
                Federal de São João del-Rei (UFSJ), visando contribuir para que o 
                isolamento social possa ser praticado de forma consistente, 
                apresenta o Boca a Boca Virtual, cujo foco principal é dar 
                visibilidade aos pequenos empreendimentos de bairro, auxiliando 
                para que os mesmos possam continuar ofertando seus produtos e 
                serviços, considerando os aspectos de afastamento social. Nossa 
                ideia é que o Boca a Boca Virtual fortalecer a economia local 
                frente a pandemia  Covid-19. 
            </p>
            <p style="text-align: justify;">
                O Boca a Boca Virtual é uma aplicação na qual pequenos 
                empreendedores podem divulgar seus serviços e produtos de uma 
                maneira simples e rápida. Por meio do Boca a Boca, esses 
                empreendedores apresentam as informações referentes aos seus 
                serviços e produtos de forma prática, tais como telefone, 
                formas de pagamento, forma de entrega, etc., sem a necessidade 
                de realizar investimentos financeiros, tão pouco investimento 
                com a criação de páginas na Web ou no Facebook. Além disso, o 
                Boca a Boca Virtual permite que aos consumidores de produtos e 
                serviços divulgados possam tecer comentários, ajudando a dar 
                credibilidade aos empreendedores.
            </p>
        </div>
        <div id="cadastroCidade"></div>
        <!-- divisão do texto em duas colunas -->
        <div class="column">
            <h4 style="color: #c0262e;">Como cadastrar seu negócio?</h4>
            <p style="text-align: justify;">
                Primeiramente, sua cidade deve aparecer na lista de cidades e curadores
                (se não estiver, <a target="_blank" href="https://forms.gle/aMLNzyGraQEGAZh88"><u>clique aqui</u></a>). Se ela ali estiver, 
                quer dizer que já existe um Curador para sua cidade. Isso 
                significa que existe um responsável por validar as informações do seu
                negócio, evitando que conteúdos mal intencionados poluam a plataforma. 
            </p>
            <p style="text-align: justify;">
                Enfim, se já existe um Curador para sua cidade, basta preencher este 
                <a target="_blank" href="http://200.17.66.215/back/register"><u>formulário de cadastro</u></a>.
                Este será enviado para análise do Curador,
                que, dentro de 24 horas, dará um retorno para você dizendo se a sua
                solicitação foi aprovada, ou não. Em caso positivo, a divulgação do seu
                negócio já estará em nossa plataforma. Do contrário, possivelmente 
                alguma informação do seu negócio está ausente ou informada de forma 
                incorreta.
            </p>
            <h4 style="color: #c0262e;" >Até quando vai funcionar?</h4>
            <p style="text-align: justify;">
                O objetivo do Boca a Boca Virtual é minimizar os impactos econômicos que o 
                combate ao Covid-19 traz, sem visar o lucro, mas o bem comum.
                Nesse sentido, a plataforma seguirá no ar enquanto o combate a
                esse vírus continuar e as medidas de isolamento social ainda
                forem recomendação das autoridades de saúde. Por isso, dê preferência
                a fontes de informação confiáveis e mantenha-se ligado nas informações
                compartilhadas pelo 
                <a target="_blank" href="https://saude.gov.br/"><u>Ministério da Saúde</u></a>.
            </p>
            <!-- embed do twitter -->
        <a class="twitter-timeline" data-width="450" data-height="250" data-theme="dark" href="https://twitter.com/minsaude?ref_src=twsrc%5Etfw">Tweets by minsaude</a> 
        </div>
    </div> 
    
    <div class="row container">
        <h4 style="color: #c0262e;">Quais são as cidades cadastradas?</h4>
        <p style="text-align: justify;">
            As cidades são cadastradas segundo a demanda de solicitações 
            para cadastrar estabelecimentos e serviços prestados por autônomos. As
            cidades já cadastradas, bem como o contato de seus curadores está disponível
            logo abaixo.
        </p>
        <div id = "curadores"></div>
        <ul class="collapsible"  style="height: 250px; overflow: auto">
            <li *ngFor="let curador of this.curadores">
                <div class="collapsible-header">
                  <i class="material-icons">location_city</i>
                  {{curador.city}} - {{curador.state_initials}}
                </div>
                <div class="collapsible-body">
                    <div>
                        <h6>Nome do Responsável: {{curador.first_name}} {{curador.last_name}}</h6>
                        <h6>Email para contato: {{curador.email}}</h6>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>